a{
    color:white;
    font-size:120%;
}

#word, #guesses {
    font-size: 24px;
    font-family: Arial, sans-serif;
}
#incorrect-guesses {
    color: red;
}
.hidden {
    visibility: hidden;
}

button{
    width: 150px;
    height:50px;
    color:white;
    background-color: #0A2A86;
    border-radius: 10px;
    border:none;
    cursor:pointer;
    font-size:120%;
    margin:50px;
}

button:hover{
    background-color: #6E5CC2;
}

p{
    font-size:120%;
}

input{
    margin-top:10px;
    padding:10px;
    border-radius:10px;
    border:none;
    font-size:150%;
}