a{
    color:white;
    font-size:120%;
}

#word, #guesses {
    font-size: 24px;
    font-family: Arial, sans-serif;
}
#incorrect-guesses {
    color: red;
}
.hidden {
    visibility: hidden;
}

p{
    font-size:120%;
}

input{
    margin-top:10px;
    padding:10px;
    border-radius:10px;
    border:none;
    font-size:150%;
}