#deck {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    margin:auto;
    width:90vh;
}

#letter{
    font-size:130%;
    text-align: center;
    margin:auto;
    height:10vh;
    width:30vh;
    background-color:#EBCED3;
    border-radius:10px;
    box-shadow: 0px 0px 10px 10px #F2D9DE;
    display:flex;
    justify-content:center;
    align-items:center;
    color:black;
}

#theme{
    font-size:130%;
    text-align: center;
    margin:auto;
    height:10vh;
    width:30vh;
    background-color:#D28F96;
    border-radius:10px;
    box-shadow: 0px 0px 10px 10px #BC5560;
    display:flex;
    justify-content:center;
    align-items:center;
    color:black;
}